<section class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 form__left">
                <h2 class="text-uppercase font-weight-bold">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2>
                <a href="#" class="btn btn-secondary btn-big text-uppercase font-weight-bold">Get in touch</a>
            </div>
            <div class="col-md-6 col-sm-12 form__right">
                <h2 class="text-uppercase font-weight-bold">STAY INFORMED WITH OUR NEWSLETTER</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <form>
                    <input type="email" placeholder="Your Email" class="mail"><button class="btn btn-primary btn-small text-uppercase font-weight-bold">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12 footer__left">
                <ul class="footer__list text-uppercase">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../about.html">About us</a></li>
                    <li><a href="../services.html">Services</a></li>
                    <li><a href="../blog.html">Blog</a></li>
                    <li><a href="../contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-12 footer__right">
                <p class="footer__copy text-uppercase">
                    created by akhouad &copy;2016. all rights reserved
                </p>
                <ul class="footer__social-icons">
                    <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>