<!-- HEADER  -->
<header class="header">
    <div class="container">
        <nav class="navbar navbar-light bg-faded">
            <a href="index.html" class="navbar-brand">
                <img src="img/logo.png" alt="logo">
            </a>
            <ul class="header__list nav navbar-nav navbar-expand text-uppercase font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact.html">Contact</a>
                </li>
            </ul>
            <img src="../img/menu.png" alt="menu" class="header__menu">
        </nav>
        <ul class="header__list-mob text-uppercase font-weight-bold">
            <li class="nav-item-mob">
                <a class="nav-link-mob" href="../index.html">Home</a>
            </li>
            <li class="nav-item-mob">
                <a class="nav-link-mob" href="../about.html">About Us</a>
            </li>
            <li class="nav-item-mob">
                <a class="nav-link-mob" href="../services.html">Services</a>
            </li>
            <li class="nav-item-mob">
                <a class="nav-link-mob" href="../blog.html">Blog</a>
            </li>
            <li class="nav-item-mob">
                <a class="nav-link-mob" href="../contact.html">Contact</a>
            </li>
        </ul>
    </div>
</header>