* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.nav-item {
    margin-right: 50px;
}

.nav-item a {
    line-height: 100px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #60606e;
}

.navbar-nav :last-child {
    margin-right: 0;
}


.site-hero {
    height: 850px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url("sity-hero2.jpg");
}

.slides {
    height: 450px; /* 850 - 400 */
    width: 100%;
    position: absolute;
    top:100px;
}

.slides li {
    opacity: 0;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

.small-title{
    color: #60606e;
    padding: 7px 12px;
    background-color: #7beec7;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}

.big-title {
    font-size: 48px;
    color:#60606e;
    padding: 10px 40px;
    border:solid 10px #60606e;
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.site-hero p {
    width: 50%;
    margin: 0 auto;
    color:#60606e;
}

.agency {
    width: 100%;
    height: auto;
    float: left;
    margin-top: -300px;
}

.agency img{
    max-height: 400px;
}
.agency p{
    color:#60606e;
}
.agency .section-title{
    text-align:left;
    width:100%;
    margin: 0 auto 30px;
}
@media (max-width: 991px) {
    .site-hero ul.slides{height: 750px;}
    .agency{margin-top: 30px;}
    .agency img{margin-bottom: 30px;}
    .agency .section-title{margin: 0 auto;text-align: center;}
    .agency p{text-align: center;}
}