//Const----------------------------------------------
$colorPrimary: #7beec7;
$colorPrimaryHover: #4cae4c;
$colorText: #60606e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Tags---------------------------------------------
body {
  color: $colorText;
  font-family: "Montserrat", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.section-title {
  text-align: left;
  width: 100%;
  margin: 0 auto 30px;
  @media all and (max-width: 992px){
    text-align: center;
  }
  span {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    @media all and (max-width: 992px){
      font-size: 22px;
    }
  }

  span:after {
    content: "";
    background-color: $colorPrimary;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    width: 60px;
    height: 20px;
    @media all and (max-width: 992px) {
      background-color: transparent;
    }
  }
}

p {
  margin: 0 0 10px;
}

li {
  list-style: none;
}

//Class for all------------------------------------------------

.btn-primary {
  background-color: $colorPrimary;
  color: #fff;
}

.btn-primary:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  background-color: $colorPrimary;
}

.btn-secondary {
  background-color: #fff;
  color: $colorPrimary;
}

.btn-secondary:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: $colorPrimary;
  background-color: #fff;
}

.btn {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 0;
  padding: 15px 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 14px;
  border: none;
}

.btn-small {
  width: 135px;
}

.btn-big {
  width: 165px;
}

//Header-------------------------------------------------------

.header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  .nav-item {
    margin-right: 20px;
  }
  &__list {
    @media all and (max-width: 600px){
      display: none;
    }
  }
  .open {
    display: block;
  }
  &__menu {
    display: none;
    @media all and (max-width: 600px){
      display: block;
    }
  }
  &__list-mob {
    margin-left: 15px;
    a {
      color: $colorText;
      line-height: 20px;
      text-decoration: none;
    }
    display: none;
  }
}

.nav-item a {
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.navbar-nav :last-child {
  margin-right: 0;
}

//Hero=---------------------------------------------------------

.site-hero {
  height: 850px;
  width: 100%;
  background: #fff url('../img/site-hero.jpg') no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  p {
    width: 50%;
    margin: 0 auto;
    @media all and (max-width: 576px) {
      width: unset;
    }
  }
}

.slides{
  height: 450px;
  width: 100%;
  position: absolute;
  top:100px;
  padding: 0 10px;
  @media all and (max-width: 576px) {
    margin-top: 35px;
  }
  li {
    opacity: 0;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
  }
}

.small-title {
  padding: 7px 12px;
  background-color: $colorPrimary;
  display: inline-block;
}

.large-title{
  font-size: 40px;
  padding: 10px 40px;
  border:solid 10px $colorText;
  display: inline-block;
  margin-bottom: 30px;
  @media all and (max-width: 600px) {
    font-size: 30px;
  }
}

//Agency---------------------------------------------------

.agency {
  width: 100%;
  height: auto;
  margin-top: -300px;
  margin-bottom: 150px;
  text-align: center;
  @media all and (max-width: 576px) {
    margin-bottom: 45px;
  }
  p {
    font-family: "Open sans", sans-serif;
    line-height: 30px;
    font-size: 14px;
  }
  img {
    max-height: 400px;
  }
  .btn {
    float: right;
    margin-top: 30px;
    @media all and (max-width: 992px){
      float: none;
      margin-top: 0;
    }
  }
}

//services--------------------------------------------------

.services {
  margin-bottom: 150px;
  @media all and (max-width: 992px){
    text-align: center;
  }
  @media all and (max-width: 576px) {
    margin-bottom: 45px;
  }
  .section-title {
    width: 50%;
    margin: 0 auto 100px;
    text-align: center;
    @media all and (max-width: 992px){
      width: 90%;
      margin: 0 auto;
    }
  }
  &-left {
    li {
      line-height: 30px;
      color: #999999;
      font-size: 14px;
    }
    .icon {
      display: block;
      font-size: 36px;
    }
    .ion-ios-infinite-outline:before {
      content: "\f449";
    }
    .ion-ios-shuffle:before {
      content: "\f4a9";
    }
    .ion-ios-cart-outline:before {
      content: "\f3f7";
    }
    .ion-ios-settings:before {
      content: "\f4a7";
    }
  }

  .service-title {
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
  }
}

//Portfolio-----------------------------------------
.portfolio {
  margin-bottom: 150px;
  @media all and (max-width: 576px) {
    margin-bottom: 45px;
  }
  .section-title {
    width: 75%;
    margin: 0 auto 100px;
    text-align: center;
    @media all and (max-width: 576px) {
      margin-bottom: 15px;
    }
  }
  h4 {
    @media all and (max-width: 768px) {
      text-align: center;
      font-size: 18px;
    }
  }
  &__filter {
    @media all and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      margin: 0 10px 10px 0;
      font-size: 14px;
      a {
        text-decoration: none;
        color: #60606e;
      }
    }
  }
  .grid {
    text-align: center;
    .grid-item {
      width: 31.4%;
      margin: 0 10px 10px 0;
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
  }
}

//form---------------------------------------------
.form {
  padding: 50px 0;
  background-color: $colorPrimary;

  &__left {
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
    h2 {
      color: white;
      width: 95%;
      font-size: 30px;
      line-height: 48px;
      @media all and (max-width: 600px) {
       font-size: 22px;
        line-height: 30px;
      }
    }
  }

  &__right {
    background-color: white;
    padding: 20px;

    p {
      width: 90%;
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
      width: 85%;
    }

    .mail {
      font-size: 12px;
      padding-left: 15px;
      width: 73%;
      color: #cdcdcd;
      border: 1px solid #cdcdcd;
      line-height: 48px;
      @media all and (max-width: 1200px) {
        margin-bottom: 10px;
      }
      @media all and (max-width: 1200px) {
        margin-bottom: 10px;
      }
    }
  }
}

//footer-----------------------------------------------------------------------
.footer {
  padding: 50px 0;
  @media all and (max-width: 576px) {
    padding: 20px 0;
  }
  &__list {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    @media all and (max-width: 992px) {
      justify-content: center;
      margin-bottom: 20px;
    }
    li:after {
      content: '-';
      margin: 0 16px;
    }

    li:last-child:after {
      content: '';
    }

    a{
      color: #9a9a9a;
    }
  }
  &__copy {
    text-align: end;
    font-size: 14px;
    margin-bottom: 25px;
    @media all and (max-width: 992px) {
      text-align: center;
    }
  }
  &__social-icons {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    @media all and (max-width: 992px) {
      justify-content: center;
    }
    li {
      margin-right: 16px;
      a {
        color: #999999;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

//Contact--------------------------------------------------------------------------------------------
.hero {
  background-image: url("../img/site-hero2.jpg");
  height: 500px;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  background-size: cover;
  @media all and (max-width: 600px) {
    height: 385px;
    margin-bottom: 45px;
  }
  &__text {
    padding-top: 90px;
    text-align: center;
    .hero__subtitle {
      font-size: 14px;
    }
  }
}

.contact-form {
  margin-bottom: 150px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  input::-moz-placeholder { color: #cccccc; }
  input::-webkit-input-placeholder { color: #cccccc; }
  textarea::-moz-placeholder { color: #cccccc; }
  textarea::-webkit-input-placeholder { color: #cccccc; }
  img {
    height: 840px;
    @media all and (max-width: 992px) {
      height: unset;
    }
  }
  input, textarea {
    font-size: 12px;
    padding: 16px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    outline: none;
    background-color: #fefcf9;
    font-family: "Montserrat", sans-serif;
    color: #cccccc;
  }
  .contact-form__name {
    width: 253px;
    display: inline-block;
    @media all and (max-width: 992px) {
     width: 100%;
    }
  }
  &__name:first-child {
    margin-right: 28px;
    @media all and (max-width: 992px) {
     margin-right: 0;
    }
  }

  &__object, textarea {
    width: 100%;
  }

  &__form {
    margin-bottom: 95px;
  }

  &__info {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    h2, p, div {
      margin-bottom: 17px;
    }
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
    }
    p {
      width: 95%;
    }
    div span {
      display: block;
    }
    ul {
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }
}

//About-----------------------------------------------------------------------------------------------------

.about__about-us {
  margin-bottom: 150px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .section-title, .section-subtitle, .about__info {
    margin-bottom: 20px;
  }
  .section-subtitle {
    font-family: "Open sans", sans-serif;
    font-weight: 800;
    font-size: 14px;
  }
  .about__info {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    line-height: 30px;
    width: 98%;
  }
}

.about-benefits {
  margin-bottom: 140px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .icon {
    display: inline-block;
    background-color: #7beec7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0 20px 15px 0;
  }

  p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }

  .section-title {
    text-align: center;
    p {
      text-transform: none;
      width: 62%;
      margin: 0 auto;
      @media all and (max-width: 600px) {
        width: unset;
      }
    }
  }
}

.about-team {
  margin-bottom: 150px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .section-title {
    text-align: center;
    p {
      text-transform: none;
      width: 98%;
      margin: 0 auto;
    }
  }
  .row div {
    margin-bottom: 30px;
    text-align: center;
  }
  .about-bar {
    background-color: #efeff0;
    padding: 50px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 768px) {
      display: block;
    }
  }
}

.about-clients {
  margin-bottom: 185px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  &__left {
    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      width: 97%;
      margin: 18px 0;
      line-height: 30px;
    }
    a {
      padding: 5px 0;
      margin-bottom: 10px;
    }
  }
  &__right img {
    margin-bottom: 30px;
  }
}

//services---------------------------------------------------------------------------------------------
.services-works {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 150px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .section-title {
    margin-bottom: 100px;
    @media all and (max-width: 600px) {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 40px;
  }
  ul {
    margin-left: 25px;
    li:before {
      font-family: "Ionicons";
      content: '\f374';
      position: absolute;
      left: 0;
      color: #7beec7;
      margin-left: 15px;
    }
  }
}

.services-benefits {
  margin-bottom: 140px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .services-benefits__item{
    width: 100%;
    text-align: center;
    i {
      display: inline-block;
      font-size: 60px;
      position: relative;
    }
    i:after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      height: 20px;
      width: 40px;
      background-color: #7beec7;
      z-index: -1;
    }
    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      width: 95%;
    }
    div {
     font-size: 18px;
      margin: 12px 0;
    }
  }
}

.services-pricing {
  margin-bottom: 150px;
  @media all and (max-width: 600px) {
    margin-bottom: 45px;
  }
  .row {
    justify-content: center;
  }
  &__item {
    .services-pricing__plan{
      padding: 30px;
      border-top: solid 5px $colorPrimary;
      position: relative;
      transition: all .2s ease-in-out;
      &:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-box-shadow: 0 0 50px rgba(0,0,0,.2);
        box-shadow: 0 0 50px rgba(0,0,0,.2);
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 0px solid transparent;
        border-top: 10px solid #7beec7;
      }
      ul {
        margin: 0 0 50px 25px;
        font-size: 14px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        li:before {
          font-family: "Ionicons";
          content: '\f374';
          position: absolute;
          left: 30px;
          color: #7beec7;
        }
      }
    }
  }
  h2{
    font-size: 30px;
  }
  p {
    font-size: 14px;
    padding: 5px 0;
  }
}

//blog----------------------------------------------------------------------------------------------
.blog-post {
  margin-bottom: 50px;
  &__item{
    margin-bottom: 100px;
    img {
      margin-bottom: 30px;
    }
    .blog_post__info {
      margin-bottom: 15px;
      .btn {
        padding: 5px 0;
        margin-right: 15px;
        color: white;
      }
      i {
        margin-right: 5px;
        color: #cccccc;
        font-size: 18px;
      }
      .ion-ios-heart {
        color: #ea6a6a;
      }
      span {
        margin-right: 10px;
        color: #cccccc;
        font-size: 14px;
      }
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 18px;
    }
    a {
      color: #60606e;
      i {
        margin-left: 10px;
      }
    }
  }
  .sidebar {
    &__search {
      width: 100%;
      height: 40px;
      background-color: #ececec;
      position: relative;
      margin-bottom: 50px;
      input {
        height: 100%;
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        border: 0;
        background-color: transparent;
        padding: 0 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        float: left;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      button {
        height: 100%;
        width: 40px;
        border: 0;
        background-color: transparent;
      }
    }
    &__tabs {
      margin-bottom: 50px;
      .wrap {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .tab {
          font-size: 12px;
          line-height: 48px;
          padding: 0 10px;
          border-bottom: 2px solid #e6e6e6;
          color: #cccccc;
          width: 100%;
          text-align: center;
        }
        .active-tab {
          color: black;
          padding-bottom: 20px;
          border-bottom: 2px solid $colorPrimary;
        }
      }
      .tab-content {
        &__info {
          display: flex;
          margin-bottom: 5px;
          img {
            margin-right: 10px;
            max-height: 60px;
            max-width: 60px;
          }
          div {
            span {
              font-size: 14px;
            }
            p {
              font-size: 12px;
              font-family: 'Open Sans', sans-serif;
            }
          }
        }
      }
    }
    &__categories {
      margin-bottom: 50px;
      a {
        color: #60606e;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 48px;
        padding-left: 15px;
      }
      li {
        border-bottom: 1px solid #60606e;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__tags {
      margin-bottom: 50px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          margin-right: 5px;
          margin-bottom: 12px;
        }
      }
      span {
        color: #999999;
        background-color: #e5e5e5;
        padding: 7px 15px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
      }
    }
  }
}
